{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" > 
</head>
<body class="d-flex flex-column min-vh-100">
    <header>
        <!--Navbar-->

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Todo App</a>
              </div>
          
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav">
                  <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                  <li><a href="#">Link</a></li>
                </ul>
              </div>
            </div>
          </nav>
    </header>
    <div class="container-fluid">
        <h3 class="m-4">All Todos</h3>
        <div class="row">
            <div class="col-12">

            </div>
        </div>
    </div>
    <footer class="mt-auto mb-4">
        <div class="text-center">
            <span>
                Copyright &copy; <script>document.write(new Date().getFullYear())</script> Fahad Software Developer.
            </span>
        </div>
    </footer>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>